@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&display=swap');

:root {
    --primary: rgba(235, 235, 235, 0.848);
    --secondary: #0e9ac4;
    --text: #1d1d1d;
    --sectionbg: #81b6c5b4;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #a8a8a8;
    border-radius: 8px;
}

html {
    font-family: Montserrat;
    font-size: 18px;
}

.banner {
    width: 100% ;
    height: 100vh ;
    background-image: linear-gradient(#41414195, #41414191), url("../images/index.jpg");
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    cursor: pointer;
    margin-top: -15px;
    margin-left: -40px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: -10px 15px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: var(--secondary);
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.intro-content {
    padding-top: 22vh;
    padding-left: 8%;
    margin-left: -40px;
    margin-top: -130px;
    color: var(--primary);
}

.intro-content h1 {
    font-size: 3.8rem;
    margin-bottom: 10px;
    font-family: Kanit;
}

.logo-intro {
    margin-left: -40px;
    max-height: 150px;
}

.intro-btn {
    display: inline-block;
    background-color: #ffffff3d;
    margin-top: 15px;
    padding: 12px 10px;
    margin-right: 15px;
    border-radius: 4px;
    border: 2px solid #ffffff86;
    text-decoration: none !important;

    backdrop-filter: blur(5px);
    color: var(--primary);
    transition: 0.5s;
}

.intro-btn:hover {
    filter: opacity(0.85);
    color: var(--secondary);
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    right: 3px;
}

footer {
    text-align: center;
    padding: 20px 10px;
    background: var(--sectionbg);
    color: var(--primary);
    /* border-top: 2px solid var(--primary); */
}

.text_footer {
    font-size: 25px;
}

.texte_footer {
    font-size: 22px;
}

.disclaimer_footer {
    font-size: 15px;
}

.texte_footer a{
    color: var(--primary) !important;
    text-decoration: none !important;
}

.logo_footer {
    height: 80px;
    margin-top: -15px;
}

.facebook {
    height: 55px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.hamburger {
    color: var(--primary) ;
    font-size: 1.7rem;
    cursor: pointer;
    display: none !important;
}

@media (max-width: 1300px) {
    main section {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media (max-width: 1000px) {

    
}

@media (max-width: 768px) {

    html {
        font-size: 16px;
    }

    main section {
        padding-left: 15px;
        padding-right: 15px;
    }

    .logo {
        width: 100px;
        margin-top: -25px;
        margin-left: 0px;
    }

    .logo-intro {
        max-height: 140px;
    }

    .intro-content {
        margin-top: -50px;
        margin-left: -5px;
    }

    .intro-content h1 {
        font-size: 2.6rem;
    }

    .intro-content h2 {
        font-size: 20px !important;
        margin-bottom: 10px;
    }

    .hamburger {
        display: inline-block !important;
        position: absolute;
        top: 15px;
        right: 25px;
    }

    .navbar {
        width: 100%;
    }

    .navbar a {
        display: none;
    }
    
    .texte_footer {
        font-size: 20px;
    }

    .navbar.mobile {
        float: none;
        display: flex;
        background: linear-gradient(var(--primary), var(--sectionbg));
        align-items: flex-start !important;
        justify-content: center !important;
    }
    
    .navbar.mobile a {
        float: none;
        display: flex;
        align-items: center !important;
        padding: 10px 0px;
        margin-top: 20px;
        font-size: 22px;
        color: var(--text);
    }

    #intro {
        background-position: 70%;
    }

}