@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&display=swap');

:root {
    --primary: rgba(235, 235, 235, 0.848);
    --primary2: rgb(235, 235, 235);
    --textfoot: rgba(255, 255, 255, 0.9);
    --secondary: #0e9ac4;
    --secondary2: #17b1e0;
    --text: #1d1d1d;
    --sectionbg: #81b6c5b4;
    --secondsection: #229bc09b;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #a8a8a8;
    border-radius: 8px;
}

html {
    font-family: Montserrat;
    font-size: 18px;
}

body {
    margin: 0px;
    color: var(--text);
}

header {
    z-index: 2;
    width: 100%;
}

header img {
    height: 45px;
    margin-left: 2%;
}

a {
    text-decoration: none !important;
}

p {
    line-height: 160%;
}

h1 {
    font-family: Kanit;
    font-size: 2rem;
    margin-top: 5px;
}

.up {
    position: fixed;
    height: 65px !important;
    bottom: 23px;
    right: 20px;
    z-index: 2;
}

#top2,
#top3,
#top4,
#top5 {
    position: absolute;
    top: 0px;
    left: 0px;
}

.navbar {
    width: 100%;
    margin: auto;
    padding: 5px 10px;
    display: flex;
    float: right;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(var(--primary), var(--sectionbg));
}

.logo {
    width: 120px;
    cursor: pointer;
    margin-left: -10px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: -10px 15px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--text) !important;
    text-transform: uppercase;
}

.navbar ul li.active a {
    color: var(--secondary) !important;
    font-weight: bolder;
}

.navbar ul li:hover a {
    color: var(--secondsection) !important;
    font-weight: bolder;
}

/* .navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: var(--secondary);
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
} */


.sub-menu {
    display: none;
    margin-top: 3%;
    left: -65% !important;
    position: absolute;
}

.sub-menu ul {
    position: absolute;
}

.navbar ul li:hover .sub-menu {
    display: block;
    position: absolute;
    /* margin-left: -10%; */
    /* background: linear-gradient(var(--primary), var(--sectionbg)) !important; */
}

.navbar ul li:hover .sub-menu ul {
    display: block;
    margin: 6px;
    /* background: linear-gradient(var(--primary2), var(--secondary2)) !important; */
}

.navbar ul li:hover .sub-menu ul li {
    width: 100%;
    padding: 10px 5px 10px 10px;
    margin-bottom: 6px;
    /* transition: 0.4 ease; */
    text-align: center !important;
    line-height: 90%;
    font-size: 17px;
    background: linear-gradient(var(--primary2), var(--secondary2)) !important;
}

.sub-menu2 {
    display: none;
    /* margin-top: 3%; */
    left: -70% !important;
    position: absolute;
}

.sub-menu2 ul {
    position: absolute;
}

.navbar ul li:hover .sub-menu2 {
    display: block;
    position: absolute;
}

.navbar ul li:hover .sub-menu2 ul {
    display: block;
    margin: 6px;
}

.navbar ul li:hover .sub-menu2 ul li {
    width: 100%;
    padding: 10px 5px 10px 10px;
    margin-bottom: 6px;
    text-align: center !important;
    line-height: 90%;
    font-size: 17px;
    background: linear-gradient(var(--primary2), var(--secondary2)) !important;
}

main section {
    padding: 45px 15% 35px 15%;
    position: relative;
}

main .servicii {
    padding: 45px 0 35px 0;
    position: relative;
}

main .galerie {
    padding: 45px 0 35px 0;
    position: relative;
}

.centered {
    text-align: center !important;
}

/* about us */

#about-us {
    width: 100%;
    min-height: 50vh;
    background: linear-gradient(#41414177, #41414181), url("../images/4509437.jpg");
    background-position: 0% 66%;
    background-size: cover;
    z-index: 2;
}

#despre {
    min-height: 70vh;
    background: linear-gradient(var(--primary), var(--sectionbg));
}

.top-section {
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top-title {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 85px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    line-height: 150%;
}

.p-despre {
    border: 2px solid lightgray;
    padding: 12px;
    border-radius: 5px;
    background-color: #efefef;
}

.i-despre {
    font-size: 22px !important;
}

.slideshow {
    width: 100%;
    height: 65vh;
    border-radius: 5px;
}

.slide {
    height: inherit;
    position: relative;
    border-radius: inherit;
}

.slide img {
    height: inherit;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.slide-text {
    position: absolute;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    flex-direction: column;
    text-align: center;

    color: var(--primary);
    background: radial-gradient(#00000098, #00000055);
    font-weight: bold;

    border-radius: inherit;
    border: 2px solid var(--secondary);

    padding: 20px 12%;
    font-size: 1.05rem;
    gap: 50px;
}

.slide-text i {
    font-size: 3.5rem;
}

#despre>i,
#servicii>i,
#galerie>i,
#contacte>i {
    position: absolute;
    font-size: 2rem;
    z-index: -2;
}

/* services */

#services {
    width: 100%;
    min-height: 50vh;
    background: linear-gradient(#41414177, #41414181), url("../images/hannah-rodrigo-mf_3yZnC6ug-unsplash.jpg");
    background-position: 0% 5%;
    background-size: cover;
}

#servicii {
    min-height: 75vh;
    background: linear-gradient(var(--primary), var(--sectionbg));
}

.menu-container {
    border-top: 4px solid var(--sectionbg);
    border-bottom: 4px solid var(--sectionbg);
}

.menu-nav {
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: 20px auto;
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.nav-item a {
    text-decoration: none;
    color: inherit;
}

.nav-item .button {
    display: block;
    padding: 8px 14px;
    margin: 8px 14px;
    text-transform: uppercase;
}

.nav-item .button:hover {
    background: var(--secondsection);
}

.active-button {
    background: var(--secondsection);
}

.ul-serv {
    line-height: 180%;
    font-size: 20px;
    list-style: radial-gradient(var(--primary), var(--sectionbg));
    margin-left: 15%;
    margin-top: 10%;
}

.ul-serv2 {
    line-height: 180%;
    font-size: 20px;
    list-style: radial-gradient(var(--primary), var(--sectionbg));
    margin-left: 15%;
    /* margin-top: 10%; */
}

.serv-galerie {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    /* margin-bottom: 15px; */
    /* margin-top: 10px; */
    /* margin-right: 15%; */
    margin: 10px 15% 15px 5%;
}

.serv-galerie img {
    width: 240px;
    height: 180px;
    object-fit: cover;
    border-radius: 3px;
}

.serv-galerie img:hover {
    filter: drop-shadow(0 0 4px var(--secondary));
}

/* gallery */

#gallery {
    width: 100%;
    min-height: 50vh;
    background: linear-gradient(#ffffff3a, #ffffff56), url(https://wallpaperaccess.com/full/318166.jpg);
    background-position: 0% 60%;
    background-size: cover;
}

#galerie {
    min-height: 60vh;
    background: linear-gradient(var(--primary), var(--sectionbg));
}

.menu-container2 {
    border-top: 4px solid var(--sectionbg);
    border-bottom: 4px solid var(--sectionbg);
}

.menu-nav2 {
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: 20px auto;
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 25%;
    padding-right: 25%;
}

.nav-item2 a {
    text-decoration: none;
    color: inherit;
}

.nav-item2 .button2 {
    display: block;
    padding: 8px 14px;
    margin: 8px 14px;
    text-transform: uppercase;
}

.nav-item2 .button2:hover {
    background: var(--secondsection);
}

.active-button2 {
    background: var(--secondsection);
}

.container-galerie {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 15px;
    margin-left: 15%;
    margin-right: 15%;
}

.container-galerie img {
    width: 300px;
    height: 240px;
    object-fit: cover;
    border-radius: 3px;
}

.container-galerie img:hover {
    filter: drop-shadow(0 0 4px var(--secondary));
}

.row {
    overflow: auto;
}

[class^="col-"] {
    float: left;
    padding: 0px 10px;
}

.col-10 {
    width: 10%;
}

.col-20 {
    width: 20%;
}

.col-25 {
    width: 25%;
}

.col-30 {
    width: 30%;
}

.col-33 {
    width: 33.3%;
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.col-60 {
    width: 60%;
}

.col-70 {
    width: 70%;
}

.col-75 {
    width: 75%;
}

.col-80 {
    width: 80%;
}

.col-90 {
    width: 90%;
}

.col-100 {
    width: 100%;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
    transition: all 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}

#contact-us {
    width: 100%;
    min-height: 50vh;
    background: linear-gradient(#ffffff3a, #ffffff56), url("../images/sticky-notes-ge8d646964_1920.jpg");
    background-position: 0% 50%;
    background-size: cover;
}

#contacte {
    min-height: 60vh;
    background: linear-gradient(var(--primary), var(--sectionbg));
}

.flex_space {
    display: flex;
    justify-content: space-between;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    overflow: auto;
}

input {
    outline: none;
    border: none;
    width: 100%;
}

.book {
    padding: 40px 0;
    margin-top: -5%;
    color: #fff;
}

.book .text {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .book input[type="submit"] {
    cursor: pointer;
} */

/* .book button {
    cursor: pointer;
} */

.book h1 span {
    color: var(--sectionbg);
}

.book h1 {
    font-size: 30px;
}

.book input {
    padding: 20px;
}

/* .book input:nth-last-child(1) {
    background: var(--sectionbg);
    color: #fff;
    cursor: pointer;
} */

.book button {
    background: var(--sectionbg);
    color: #fff;
    cursor: pointer;
    border: none;
}

/* .field {
    margin-bottom: 10px;
}

.field label {
    display: block;
    font-size: 12px;
    color: #777;
}

.field input {
    display: block;
    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;
}

input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #4460AA;
    color: #fff;
    border: none
} */

.contact-list {
    line-height: 150%;
    list-style: radial-gradient(var(--primary), var(--sectionbg));
    text-align: left;
    margin-left: 50px;
}

.contact-list2 {
    line-height: 200%;
    list-style: radial-gradient(var(--primary), var(--sectionbg));
    text-align: left;
    margin-left: 30px;
}

.lista h3 {
    font-size: 25px;
    margin-top: 10px;
    color: black;
    text-shadow: 5px 3px 20px gray;
    font-weight: bold;
}

.harta {
    width: 100%;
    height: 450px;
    border-radius: 3px;
}

.contacte-info a {
    color: var(--text) !important;
}

.formular-container {
    background-color: #ffffff40;
    margin-right: 30px;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
    padding: 2px 10px 20px 10px;
    margin-top: 15px;
    overflow: auto;
}

.formular-container input,
.formular-container textarea {
    font-family: inherit;
    width: 80%;
    margin-bottom: 10px;
    resize: none;
    font-size: 0.85rem;
    padding: 4px;
    border-radius: 3px;
    outline: none;
    border: 1px solid gray;
}

.video {
    max-width: 45%;
    margin: 15px 2% 0px 2%;
}

/* .formular-container input[type="button"] {
    cursor: pointer;
    width: 130px;
    float: right;
    margin-right: 10%;
} */

.formular-container button {
    cursor: pointer;
    width: 130px;
    float: right;
    margin-right: 10%;
}

footer {
    text-align: center;
    padding: 20px 10px;
    background: var(--sectionbg);
    color: var(--textfoot);
}

.text_footer {
    font-size: 25px;
}

.texte_footer {
    font-size: 22px;
}

/* .disclaimer_footer {
    font-size: 15px;
} */

.texte_footer a {
    color: var(--textfoot) !important;
    text-decoration: none !important;
}

.logo_footer {
    height: 80px;
    width: auto;
    margin-top: -15px;
}

.facebook {
    height: 55px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.hamburger {
    color: var(--text);
    font-size: 1.7rem;
    cursor: pointer;
    display: none !important;
}

@media screen and (max-width: 1300px) {

    main section {
        padding-left: 10%;
        padding-right: 10%;
    }

    /* about us */

    .top-title {
        font-size: 160px;
    }

    .video {
        max-width: 49%;
        margin-left: 0px;
        margin-right: 5px;
    }

}

@media screen and (max-width: 1280px) {

    /* about us */

    /* services */

    #services {
        min-height: 60vh;
    }

    #servicii {
        min-height: 65vh;
        background: linear-gradient(var(--primary), var(--sectionbg));
    }

    /* gallery */

    #gallery {
        min-height: 55vh;
    }

    .container-galerie {
        gap: 20px;
        margin-left: 13%;
        margin-right: 13%;
    }

    /* contact us */

    #contact-us {
        min-height: 55vh;
    }

}

@media screen and (max-width: 1024px) {

    main section {
        padding-left: 7%;
        padding-right: 7%;
    }

    [class^="col-"] {
        width: 100%;
    }

    .up {
        height: 75px !important;
        bottom: 23px;
        right: 20px;
        z-index: 2;
    }

    /* about us */

    .video {
        max-width: 49%;
        margin-left: 0px;
        margin-right: 5px;
    }

    /* services */

    #services {
        min-height: 60vh;
    }

    #servicii {
        min-height: 75vh;
        background: linear-gradient(var(--primary), var(--sectionbg));
    }

    .ul-serv {
        font-size: 28px;
    }

    .ul-serv2 {
        font-size: 28px;
    }

    .serv-galerie {
        margin: 10px 15% 15px 15%;
    }

    .serv-galerie img {
        width: 280px;
        height: 260px;
    }

    /* gallery */

    #gallery {
        min-height: 60vh;
    }

    .container-galerie {
        gap: 16px;
        margin-left: 12%;
        margin-right: 12%;
    }

    .container-galerie img {
        width: 240px;
        height: 220px;
    }

    /* contact us */

    #contact-us {
        min-height: 60vh;
    }

    .formular-container {
        margin-top: -30px;
        margin-bottom: 20px;
        margin-left: 20%;
    }

    .contact-list {
        font-size: 28px;
    }

    .contact-list2 {
        font-size: 28px;
    }

    .lista h3 {
        font-size: 35px;
    }

}

@media screen and (max-width: 1000px) {

    .navbar a {
        display: none;
    }

    .navbar.mobile {
        float: none;
        display: flex;
        background: linear-gradient(var(--primary), var(--sectionbg));
        align-items: flex-start !important;
    }

    .navbar.mobile a {
        float: none;
        display: flex;
        align-items: center !important;
        padding: 10px 130px;
        margin-top: 20px;
        font-size: 22px;
        margin-left: -7%;
    }

    .navbar.mobile ul li {
        margin: -10px -26px;
    }

    .fa-caret-down {
        display: none;
    }

    .navbar ul li:hover .sub-menu ul li {
        background: #ffffff00 !important;
    }

    .navbar ul li:hover .sub-menu2 ul li {
        background: #ffffff00 !important;
    }

    .navbar ul li:hover .sub-menu ul li a {
        font-size: 0px !important;
    }

    .navbar ul li:hover .sub-menu2 ul li a {
        font-size: 0px !important;
    }

    .logo {
        width: 150px;
        height: auto;
        margin-top: -15%;
        margin-left: -45%;
    }

    .hamburger {
        display: inline-block !important;
        position: absolute;
        top: 13px;
        right: 25px;
        color: var(--text);
    }

    .navbar ul li a {
        font-size: 16px;
    }

    /* services */

    .menu-nav {
        margin: 0px auto;
        list-style: none;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav-mobile {
        display: block;
    }

    .nav-item .button {
        text-align: center;
        margin: 5px 20px;
        padding: 5px 14px;
    }

    .ul-serv {
        margin-top: 5%;
    }

}

@media screen and (max-width: 912px) {

    main section {
        padding-left: 10%;
        padding-right: 10%;
    }

    .navbar.mobile a {
        padding: 5px 110px;
        /* margin-top: 22px; */
        /* font-size: 17px; */
        margin-left: -8%;
    }

    .logo {
        width: 150px;
        margin-top: -10%;
        margin-left: -30%;
    }

    [class^="col-"] {
        width: 100%;
    }

    .text_footer {
        font-size: 33px;
    }

    /* about us */

    .p-despre {
        margin-top: 0;
    }

    .slideshow {
        height: 55vh;
    }

    .video {
        max-width: 78%;
        margin-left: 12%;
        margin-right: 0;
    }

    /* services */

    .ul-serv {
        font-size: 25px;
    }

    .ul-serv2 {
        font-size: 25px;
    }

    .serv-galerie img {
        width: 260px;
        height: 240px;
    }

    /* gallery */

    #gallery {
        min-height: 45vh;
    }

    .container-galerie {
        margin-left: 8%;
        margin-right: 8%;
    }

    /* contact us */

    .contact-list {
        font-size: 24px;
    }

    .contact-list2 {
        font-size: 24px;
    }

    .formular-container {
        margin-top: -30px;
        margin-bottom: 20px;
        margin-left: 16.5%;
    }

    .grid {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 25px;
    }

    .book {
        padding: 15px 10px;
        margin-top: 0%;
        margin-bottom: 3%;
    }

    .book h1 {
        font-size: 28px;
        writing-mode: vertical-lr;
        letter-spacing: 0.2em;
    }

}

@media screen and (max-width: 876px) {

    .logo {
        width: 110px;
        margin-top: 0px;
        margin-left: -10px;
    }

    .hamburger {
        display: inline-block !important;
        position: absolute;
        top: 15px;
        right: 25px;
    }

}

@media screen and (max-width: 820px) {

    main section {
        padding-left: 5%;
        padding-right: 5%;
    }

    .navbar.mobile a {
        padding: 5px 92px;
        /* margin-top: 22px; */
        font-size: 22px;
        margin-left: -8.5%;
    }

    .logo {
        width: 150px;
        margin-top: -10%;
        margin-left: -20%;
    }

    [class^="col-"] {
        width: 100%;
    }

    .text_footer {
        font-size: 30px;
    }

    .texte_footer {
        font-size: 28px;
    }

    .logo_footer {
        height: 100px;
        width: auto;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .facebook {
        height: 65px;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    /* about us */

    #about-us {
        min-height: 40vh;
    }

    .top-title {
        font-size: 145px;
    }

    .p-despre {
        font-size: 23px;
        margin-top: 10px;
    }

    .slideshow {
        height: 50vh;
    }

    .video {
        max-width: 78%;
        margin-left: 12%;
        margin-right: 0;
        margin-top: 35px;
        margin-bottom: -15px;
    }

    /* services */

    #services {
        min-height: 40vh;
    }

    /* gallery */

    #gallery {
        min-height: 40vh;
    }

    .container-galerie {
        margin-left: 10%;
        margin-right: 10%;
    }

    .container-galerie img {
        width: 205px;
        height: 185px;
    }

    /* contact us */

    .formular-container {
        margin-left: 15%;
    }

    .grid {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

    .book {
        padding: 15px 10px;
        margin-top: 0%;
        margin-bottom: 3%;
    }

    .book .text {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .book h1 {
        font-size: 28px;
        /* writing-mode: vertical-lr; */
        /* text-orientation: upright; */
        /* letter-spacing: 0.4em; */
    }

}

@media screen and (max-width: 800px) {

    main section {
        padding-left: 5%;
        padding-right: 5%;
    }

    .navbar.mobile a {
        padding: 5px 86px;
        margin-left: -9%;
        font-size: 26px;
    }

    .logo {
        margin-top: -10%;
        margin-left: -15%;
    }

    [class^="col-"] {
        width: 100%;
    }

    /* about us */

    .video {
        max-width: 79%;
        margin-left: 11%;
    }

    /* services */

    .ul-serv {
        margin-top: 7%;
        font-size: 26px;
    }

    .ul-serv2 {
        font-size: 26px;
    }

    .serv-galerie {
        margin: -10px 15% 21px 15%;
    }

    .serv-galerie img {
        width: 240px;
        height: 220px;
    }

    /* contact us */

    .contact-list {
        font-size: 25px;
    }

    .contact-list2 {
        font-size: 25px;
    }

    .formular-container {
        margin-bottom: 15px;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .book {
        margin-bottom: 3%;
    }

    .book h1 {
        font-size: 28px;
        writing-mode: vertical-lr;
        /* text-orientation: upright; */
        letter-spacing: 0.4em;
    }

}

@media screen and (max-width: 768px) {

    html {
        font-size: 16px;
    }

    main section {
        padding-left: 5%;
        padding-right: 5%;
    }

    .navbar.mobile a {
        padding: 5px 90px;
        /* margin-top: 20px; */
        font-size: 22px;
        margin-left: -12%;
    }

    .logo {
        width: 150px;
        margin-top: -10%;
        margin-left: -5%;
    }

    [class^="col-"] {
        width: 100%;
    }

    .texte_footer {
        font-size: 20px;
    }

    /* about us */

    #about-us {
        min-height: 40vh;
    }

    .top-title {
        line-height: 140%;
    }

    .slideshow {
        height: 50vh;
    }

    .video {
        max-width: 82%;
        margin-left: 10%;
    }

    /* services */

    #services {
        min-height: 40vh;
        background-position: 60% 5%;
    }

    .ul-serv {
        margin-top: 7%;
        font-size: 28px;
        margin-right: 15%;
    }

    .ul-serv2 {
        font-size: 28px;
        margin-right: 15%;
    }

    .serv-galerie img {
        width: 220px;
        height: 200px;
    }

    /* gallery */

    #gallery {
        min-height: 40vh;
    }

    .container-galerie {
        margin-left: 8%;
        margin-right: 8%;
    }

    .container-galerie img {
        width: 200px;
        height: 180px;
    }

    /* .container-galerie img {
        width: 160px;
        height: 140px;
    } */

    /* contact us */

    #contact-us {
        min-height: 40vh;
        background-position: 50% 50%;
    }

    .book {
        padding: 10px;
    }

    .book h1 {
        font-size: 28px;
        writing-mode: vertical-lr;
        letter-spacing: 0.4em;
    }

    .grid {
        grid-gap: 15px;
    }

    .formular-container {
        width: 100%;
        margin-bottom: 15px;
        max-width: none;
        margin-left: 0%;
    }

    /* #intro {
        background-position: 70%;
    } */

}

@media screen and (max-width: 712px) {

    .navbar.mobile a {
        padding: 5px 100px;
        font-size: 22px;
        margin-left: -16%;
    }

    .logo {
        width: 140px;
        margin-top: -15%;
        margin-left: 0%;
    }

    /* about us */

    #about-us {
        min-height: 38vh;
    }

    .top-title {
        font-size: 120px;
    }

    .p-despre {
        font-size: 23px;
        margin-top: 0px;
    }

    .slideshow {
        height: 48vh;
    }

    .i-despre {
        font-size: 30px !important;
        line-height: 150%;
    }

    .video {
        max-width: 89%;
        margin-left: 6%;
    }

    /* services */

    .menu-container {
        margin-top: -3%;
    }

    .ul-serv {
        margin-top: 7%;
    }

    .serv-galerie {
        margin: -10px 15% 21px 15%;
    }

    .serv-galerie img {
        width: 200px;
        height: 180px;
    }

    .container-galerie img {
        width: 280px;
        height: 260px;
    }

    /* gallery */

    .menu-container2 {
        margin-top: -3%;
    }

    /* contact us */

    .contact-list {
        font-size: 20px;
    }

    .contact-list2 {
        font-size: 20px;
    }

    .book h1 {
        font-size: 28px;
        writing-mode: vertical-lr;
        letter-spacing: 0.4em;
    }

}

@media screen and (max-width: 640px) {

    .navbar.mobile a {
        padding: 5px 71px;
        font-size: 22px;
        margin-left: -12.5%;
    }

    .logo {
        width: 135px;
        margin-top: -15%;
        margin-left: 0%;
    }

    .hamburger {
        right: 18px;
    }

    /* services */

    #services {
        min-height: 60vh;
    }

    .menu-container {
        margin-top: -3%;
    }

    /* .menu {
        font-size: 20px;
        height: 50px;
        width: 105px;
    } */

    .ul-serv {
        margin-top: 7%;
    }

    .serv-galerie {
        margin: -10px 15% 21px 15%;
    }

    .serv-galerie img {
        width: 200px;
        height: 180px;
    }

    .container-galerie img {
        width: 280px;
        height: 260px;
    }

    /* contact us */

    .book h1 {
        font-size: 28px;
        writing-mode: vertical-lr;
        letter-spacing: 0.4em;
    }

}

@media screen and (max-width: 600px) {

    main section {
        padding-left: 5%;
        padding-right: 5%;
    }

    .navbar.mobile a {
        padding: 5px 63px;
        font-size: 22px;
        margin-left: -9%;
    }

    .logo {
        width: 100px;
        margin-top: -20%;
        margin-left: -9%;
    }

    .texte_footer {
        font-size: 24px;
    }

    /* about us */

    #about-us {
        min-height: 36vh;
    }

    .p-despre {
        font-size: 23px;
        margin-top: 5px;
    }

    .video {
        max-width: 100%;
        margin-left: 0px;
    }

    /* services */

    .menu-container {
        margin-top: -3%;
    }

    #services {
        min-height: 40vh;
    }

    /* .menu {
        font-size: 20px;
        height: 50px;
        width: 100px
    } */

    .ul-serv {
        margin-right: 10%;
        margin-left: 13%;
    }

    .ul-serv2 {
        margin-right: 10%;
        margin-left: 13%;
    }

    .serv-galerie {
        margin: 10px 12% 8% 12%;
    }

    .serv-galerie img {
        width: 210px;
        height: 190px;
    }

    /* contact us */

    .menu-container2 {
        margin-top: -3%;
    }

    .container-galerie {
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .container-galerie img {
        width: 240px;
        height: 220px;
    }

    .book {
        padding: 10px 0;
    }

    .book h1 {
        font-size: 30px;
        writing-mode: vertical-lr;
        letter-spacing: 0.3em;
    }

    .book input {
        padding: 20px;
    }

}

@media screen and (max-width: 541px) {

    .navbar.mobile a {
        padding: 5px 51px;
        /* font-size: 22px; */
        margin-left: -12%;
    }

    .logo {
        width: 120px;
        margin-left: 5%;
        margin-top: -15%;
    }

    .up {
        height: 65px !important;
    }

    .text_footer {
        font-size: 27px;
    }

    .logo_footer {
        height: 85px;
        width: auto;
        margin-top: -5px;
        margin-bottom: 10px;
    }

    .facebook {
        height: 55px;
        margin-top: 13px;
        margin-bottom: 3px;
    }

    /* about us */

    .p-despre {
        font-size: 20px;
        margin-top: -5px;
    }

    .top-title {
        font-size: 100px;
    }

    /* services */

    .serv-galerie {
        margin: 10px 8% 8% 8%;
    }

    .ul-serv {
        margin-right: 10%;
        margin-left: 12%;
        font-size: 25px;
    }

    .ul-serv2 {
        margin-right: 10%;
        margin-left: 12%;
        font-size: 25px;
    }

    /* gallery */

    .container-galerie img {
        width: 220px;
        height: 200px;
    }

    /* contact us */

    .book h1 {
        font-size: 30px;
        writing-mode: vertical-lr;
        letter-spacing: 0.3em;
    }

    .formular-container {
        margin-left: 0%;
    }

}

@media screen and (max-width: 480px) {

    .navbar.mobile a {
        padding: 5px 51px;
        /* margin-top: 22px; */
        font-size: 17px;
        margin-left: -15%;
    }

    .logo {
        margin-left: 8%;
    }

    /* about us */

    .p-despre {
        font-size: 20px;
        margin-top: 0px;
    }

    /* services*/

    .ul-serv {
        font-size: 22px;
        margin-left: 10%;
    }

    .ul-serv2 {
        font-size: 22px;
        margin-left: 10%;
    }

    .serv-galerie img {
        width: 160px;
        height: 140px;
    }

    /* gallery */

    .container-galerie img {
        width: 200px;
        height: 180px;
    }

    /* contact us */

    .book h1 {
        font-size: 30px;
        writing-mode: vertical-lr;
        letter-spacing: 0.3em;
    }

    .contact-list {
        margin-left: 0px;
    }

    .contact-list2 {
        margin-left: 0px;
    }

}

@media screen and (max-width: 431px) {

    .navbar.mobile a {
        padding: 5px 44px;
        /* margin-top: 22px; */
        font-size: 17px;
        margin-left: -18%;
    }

    .logo {
        margin-left: 20%;
        margin-top: -18%;
    }

    .top-title {
        font-size: 87px;
    }

    /* services */

    .serv-galerie {
        margin: 10px 9% 8% 9%;
    }

    /* gallery */

    .container-galerie img {
        width: 185px;
        height: 165px;
    }

    /* contact us */

    .grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
    }

    .book {
        padding: 15px 10px;
        margin-top: -5%;
    }

    .book h1 {
        font-size: 25px;
        writing-mode: vertical-lr;
        text-orientation: upright;
        letter-spacing: 0.1em;
    }

    .contact-list2 {
        font-size: 19px;
    }

}

@media screen and (max-width: 415px) {

    .navbar.mobile a {
        padding: 5px 40px;
        /* margin-top: 22px; */
        /* font-size: 17px; */
        margin-left: -17%;
    }

    .logo {
        margin-top: -20%;
        margin-left: 15%;
    }

    .texte_footer {
        font-size: 21px;
    }

    /* about us */

    .top-title {
        font-size: 95px;
    }

    .video {
        margin-left: 0;
    }

    /* services */

    .ul-serv {
        font-size: 21px;
        margin-left: 7%;
    }

    .ul-serv2 {
        font-size: 21px;
        margin-left: 7%;
    }

    .serv-galerie {
        margin: 10px 7% 8% 7%;
    }

    /* gallery */

    .container-galerie img {
        width: 170px;
        height: 150px;
    }

    /* contact us */

    .book h1 {
        font-size: 25px;
        writing-mode: vertical-lr;
        text-orientation: upright;
        letter-spacing: 0.1em;
    }

    .contact-list {
        margin-left: 0px;
        font-size: 16px;
    }

    .contact-list2 {
        margin-left: 0px;
        font-size: 16px;
    }

}

@media screen and (max-width: 412px) {

    .navbar.mobile a {
        padding: 5px 41px;
        /* margin-top: 22px; */
        /* font-size: 17px; */
        margin-left: -17%;
    }

    .logo {
        width: 110px;
        margin-top: -17%;
        margin-left: 15%;
    }

    .top-title {
        font-size: 84px;
    }

    .texte_footer {
        font-size: 22px;
    }

    /* about us */

    .slideshow {
        height: 55vh;
    }

    .i-despre {
        font-size: 25px !important;
        line-height: 150%;
    }

    /* services*/

    .ul-serv {
        font-size: 20px;
        margin-left: 8%;
    }

    .ul-serv2 {
        font-size: 20px;
        margin-left: 8%;
    }

    .serv-galerie img {
        width: 140px;
        height: 120px;
    }

    /* gallery */

    .container-galerie img {
        width: 170px;
        height: 150px;
    }

    /* contact us */

    #contact-us {
        min-height: 36vh;
        background-position: 50% 50%;
    }

    .lista h3 {
        font-size: 32px;
    }

    .book h1 {
        font-size: 25px;
        writing-mode: vertical-lr;
        text-orientation: upright;
        letter-spacing: 0.1em;
    }

    .contact-list {
        margin-left: 0px;
        font-size: 18px;
    }

    .contact-list2 {
        margin-left: 0px;
        font-size: 18px;
    }

}

@media screen and (max-width: 395px) {

    .navbar.mobile a {
        padding: 5px 37px;
        /* margin-top: 22px; */
        /* font-size: 17px; */
        margin-left: -17%;
    }

    .logo {
        margin-top: -20%;
        margin-left: 15%;
    }

    /* about us */

    .top-title {
        font-size: 79px;
    }

    .texte_footer {
        font-size: 21px;
    }

    /* services */

    /* .menu {
        font-size: 17px;
        height: 45px;
        width: 90px;
        margin: 7px 30px 5px auto;
    } */

    .ul-serv {
        font-size: 20px;
        margin-left: 6%;
    }

    .ul-serv2 {
        font-size: 20px;
        margin-left: 6%;
    }

    .serv-galerie {
        margin: 10px 10% 8% 10%;
    }

    /* gallery */

    .container-galerie img {
        width: 160px;
        height: 140px;
    }

    /* contact us */

    .contact-list {
        margin-left: 0px;
        font-size: 16px;
    }

    .contact-list2 {
        margin-left: 0px;
        font-size: 16px;
    }

    .book h1 {
        font-size: 25px;
        writing-mode: vertical-lr;
        text-orientation: upright;
        letter-spacing: 0.1em;
    }

}

@media screen and (max-width: 384px) {

    main section {
        padding-left: 10px;
        padding-right: 10px;
    }

    .navbar.mobile a {
        padding: 5px 37px;
        font-size: 17px;
        margin-left: -17%;
    }

    .logo {
        width: 100px;
        margin-top: -20%;
        margin-left: 15%;
    }

    .hamburger {
        right: 16px;
    }

    .text_footer {
        font-size: 23px;
    }

    /* about us */

    .top-title {
        font-size: 76px;
    }

    .p-despre {
        font-size: 19px;
        margin-top: -5px;
    }

    .slideshow {
        height: 65vh;
    }

    .slide-text {
        padding: 20px 8%;
        gap: 45px;
    }

    .i-despre {
        font-size: 27px !important;
        line-height: 150%;
    }

    .video {
        margin-left: 0px;
    }

    /* services */

    .menu-container {
        margin-top: -7%;
    }

    /* .menu {
        height: 40px;
        width: 80px;
        font-size: 15px;
        margin: 6px 30px 5px auto;
    } */

    .serv-galerie {
        margin: -10px 5% 15px 5%;
    }

    .serv-galerie img {
        width: 140px;
        height: 120px;
    }

    .ul-serv {
        margin-left: 5%;
        font-size: 19px;
        margin-right: 8%;
    }

    .ul-serv2 {
        margin-left: 5%;
        font-size: 19px;
        margin-right: 8%;
    }

    /* gallery */

    .container-galerie img {
        width: 160px;
        height: 140px;
    }

    /* contact us */

    .book h1 {
        font-size: 25px;
        writing-mode: vertical-lr;
        text-orientation: upright;
        letter-spacing: 0.1em;
    }

    .contact-list {
        margin-left: -5px;
        font-size: 17px;

    }

    .contact-list2 {
        margin-left: -5px;
        font-size: 17px;
    }

}

@media screen and (max-width: 360px) {

    .navbar.mobile a {
        padding: 5px 33px;
        /* margin-top: 22px; */
        font-size: 17px;
        margin-left: -16%;
    }

    .logo {
        width: 90px;
        margin-top: -19%;
        margin-left: 17%;
    }

    .hamburger {
        font-size: 1.5rem;
        top: 19px;
        right: 14px;
    }

    .top-title {
        font-size: 71px;
    }

    .text_footer {
        font-size: 23px;
    }

    .logo_footer {
        height: 70px;
        width: auto;
        margin-top: -5px;
        margin-bottom: 7px;
    }

    .texte_footer {
        font-size: 19px;
    }

    .facebook {
        height: 50px;
        margin-top: 13px;
        margin-bottom: 3px;
    }

    .up {
        height: 50px !important;
        bottom: 15px;
        right: 13px;
    }

    /* about us */

    .p-despre {
        font-size: 17px;
        margin-top: -15px;
    }

    .slideshow {
        height: 55vh;
    }

    .slide-text {
        gap: 30px;
    }

    .slide-text i {
        font-size: 3rem;
    }

    .i-despre {
        font-size: 20px !important;
        line-height: 130%;
    }

    /* services */

    .menu-container {
        margin-top: -7%;
    }

    .serv-galerie {
        margin: -10px 5% 15px 5%;
    }

    .serv-galerie img {
        width: 140px;
        height: 120px;
    }

    .ul-serv {
        margin-left: 5%;
        font-size: 19px;
    }

    .ul-serv2 {
        margin-left: 5%;
        font-size: 19px;
    }

    /* gallery */

    .menu-container2 {
        margin-top: -7%;
    }

    .container-galerie {
        margin-left: 3%;
        margin-right: 3%;
    }

    .video {
        margin-top: 25px;
        margin-bottom: -15px;
    }

    /* contact us */

    .lista h3 {
        font-size: 30px;
    }

    .book h1 {
        font-size: 25px;
        writing-mode: vertical-lr;
        text-orientation: upright;
        letter-spacing: 0.1em;
    }

    .contact-list {
        margin-left: 0px;
        font-size: 16px;
    }

    .contact-list2 {
        margin-left: 0px;
        font-size: 16px;
    }

}

@media screen and (max-width: 355px) {

    /* about us */

    .top-title {
        font-size: 80px;
    }

    /* gallery */

    .container-galerie img {
        width: 140px;
        height: 120px;
    }

    /* contact us */

    /* .grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
    
    .book {
        padding: 15px 10px;
        margin-top: -5%;
        margin-bottom: 3%;
    } */

    .book h1 {
        font-size: 25px;
        writing-mode: vertical-lr;
        text-orientation: upright;
        letter-spacing: 0.1em;
    }

}

@media screen and (max-width: 320px) {

    .navbar.mobile a {
        /* padding: 5px 0px; */
        /* margin-top: 22px; */
        font-size: 15px;
        margin-left: -18%;
    }

    .navbar.mobile ul li {
        margin: -15px -26px;
    }

    .logo {
        width: 80px;
        height: auto;
        margin-left: 20%;
        margin-top: -30%;
    }

    .texte_footer {
        font-size: 17px;
    }

    .text_footer {
        font-size: 21px;
    }

    /* about us */

    .top-title {
        font-size: 65px;
    }

    .p-despre {
        font-size: 15.5px;
        margin-top: -15px;
    }

    .slideshow {
        height: 55vh;
    }

    .slide-text {
        padding: 16px 9%;
        font-size: 1rem;
        gap: 45px;
    }

    .slide-text i {
        font-size: 2.5rem;
    }

    .i-despre {
        font-size: 20px !important;
    }

    /* services */

    #services {
        min-height: 45vh;
    }

    /* .menu {
        height: 40px;
        width: 80px;
        font-size: 15px;
    } */

    .ul-serv {
        margin-left: 1%;
        font-size: 17px;
    }

    .ul-serv2 {
        margin-left: 1%;
        font-size: 17px;
    }

    .serv-galerie {
        margin: -3px 4% 15px 4%;
    }

    .serv-galerie img {
        width: 130px;
        height: 110px;
    }

    /* gallery */

    .menu-nav2 {
        padding-left: 20%;
    }

    .container-galerie img {
        width: 140px;
        height: 120px;
    }

    /* contact us */

    .contact-list {
        margin-left: -5px;
    }

    .contact-list2 {
        margin-left: -11px;
        font-size: 15px;
    }

    /* .grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
     */
    /* .book {
        padding: 15px 5px;
        margin-top: -5%;
    } */

    .book h1 {
        font-size: 25px;
        writing-mode: vertical-lr;
        text-orientation: upright;
        letter-spacing: 0.1em;
    }

}

@media screen and (max-width: 280px) {

    main section {
        padding-left: 5px;
        padding-right: 5px;
    }

    .navbar.mobile a {
        padding: 5px 29px;
        /* margin-top: 22px; */
        font-size: 13px;
        margin-left: -17%;
    }

    .logo {
        width: 65px;
        margin-left: 12%;
    }

    .text_footer {
        font-size: 18px;
    }

    .logo_footer {
        height: 55px;
        width: auto;
        margin-top: -5px;
        margin-bottom: 10px;
    }

    .texte_footer {
        font-size: 13px;
    }

    .facebook {
        height: 45px;
        margin-top: 13px;
        margin-bottom: 3px;
    }

    .up {
        height: 50px !important;
    }

    /* about us */

    #about-us {
        min-height: 35vh;
    }

    .top-title {
        font-size: 57px;
    }

    .p-despre {
        font-size: 14px;
        margin-top: -15px;
        margin-bottom: 20px;
    }

    .slide-text {
        padding: 14px 8%;
        font-size: 0.9rem;
        gap: 40px;
    }

    .slide-text i {
        font-size: 2.5rem;
    }

    .i-despre {
        font-size: 19px !important;
    }

    .video {
        margin-top: 20px;
        margin-bottom: -10px;
    }

    /* services */

    #services {
        min-height: 40vh;
    }

    .ul-serv {
        font-size: 15px;
        margin-right: 3%;
    }

    .ul-serv2 {
        font-size: 15px;
        margin-right: 3%;
    }

    .serv-galerie img {
        width: 110px;
        height: 90px;
    }

    /* gallery */

    .menu-nav2 {
        padding-left: 15%;
        padding-right: 15%;
    }

    .container-galerie img {
        width: 120px;
        height: 100px;
    }

    /* contact us */

    .contact-list {
        margin-left: -5px;
        font-size: 14px;
    }

    .contact-list2 {
        margin-left: -5px;
        font-size: 12px;
    }

}

@media screen and (max-width: 240px) {

    main section {
        padding-left: 5px;
        padding-right: 5px;
    }

    .navbar.mobile a {
        padding: 5px 26px;
        font-size: 11px;
        margin-left: -22%;
    }

    .navbar.mobile ul li {
        margin: -16px -26px;
    }

    .logo {
        height: auto;
        margin-top: -35%;
        margin-left: 20%;
    }

    .text_footer {
        font-size: 13px;
    }

    .texte_footer {
        font-size: 10px;
    }

    .facebook {
        height: 40px;
        width: auto;
    }

    .logo_footer {
        height: 50px;
    }

    /* about us */

    .p-despre {
        font-size: 13px;
        margin-top: -10%;
    }

    .slideshow {
        height: 75vh;
    }

    .slide-text {
        padding: 15px 9%;
        font-size: 0.80rem;
        gap: 30px;
    }

    .slide-text i {
        font-size: 2rem;
        line-height: 50%;
    }

    .i-despre {
        font-size: 15px !important;
    }

    /* services */

    .menu-container {
        margin-top: -12%;
    }

    /* .menu {
        height: 30px;
        width: 70px;
        font-size: 13px;
        margin: 6px 15px 5px auto;
    } */

    .ul-serv {
        font-size: 14px;
        margin-left: -8%;
        margin-top: 7%;
        margin-bottom: -4%;
    }

    .ul-serv2 {
        font-size: 14px;
        margin-left: -8%;
        margin-top: -5%;
    }

    .serv-galerie {
        margin: 0px 2% 15px 2%;
        gap: 10px;
    }

    .serv-galerie img {
        width: 100px;
        height: 80px;
    }

}